:root {
  --primary-color: #ff4f81;
  --hover-color: #12ccc3;
  --p-color: #999999;
  --i-color: #333333;
  --black: black;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #212529;
  background-color: white;
  letter-spacing: 1px;
}

h1 {
  color: var(--primary-color);
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  color: var(--primary-color);
}

h3 {
  font-size: 0.8em;
  font-weight: bold;
}
h1 + span {
  margin-bottom: 15px;
  text-transform: capitalize;
  color: var(--p-color);
  font-size: 1.2em;
  letter-spacing: 4px;
  text-align: center;
  display: block;
}

p {
  color: var(--p-color);
}
.underLine {
  background-color: black;
  height: 2px;
  width: 70px;
  margin: 0 auto;
  margin-bottom: 70px;
}

/* HEADER */
header {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
}

.header__left {
  padding-bottom: 10px;
}

.header__left span {
  padding: 0 10px;
}

.header__right i {
  height: 30px;
  width: 30px;
  background-color: var(--i-color);
  line-height: 30px;
  text-align: center;
}

/* NAVIGATION */

.navbar-brand__logo {
  text-align: center;
}

.navbar-brand__logo h1 {
  margin: 0;
}

.navbar-brand__logo i {
  padding-right: 10px;
}

.navbar-brand__logo p {
  color: var(--primary-color);
  font-size: 0.8em;
}

#navbarNav {
  /* border: 1px solid red; */
  justify-content: flex-end;
}

#navbarNav .navbar-nav .nav-item {
  margin-left: 10px;
}

#navbarNav .navbar-nav .nav-item .nav-link {
  color: var(--black);
  font-weight: bold;
  padding: 15px;
  transition: all 0.5s;
}

#navbarNav .navbar-nav .nav-item:hover .nav-link {
  color: var(--primary-color);
  /* border: 1px solid blue; */
}

nav #navbarNav .navbar-nav .active .nav-link {
  color: var(--primary-color);
}
nav #navbarNav .navbar-nav .active .nav-item__line {
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  transition: all 0.5s;
}

.nav-item__line {
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
  transition: all 0.5s;
}
#navbarNav .navbar-nav .nav-item:hover .nav-item__line {
  width: 100%;
}

/* CAROUSEL */

.carousel-item img {
  height: 550px;
}
.carousel-caption__config {
  bottom: 35%;
}

.carousel-indicators__config {
  bottom: 30%;
}

.carousel-caption__config h1 {
  font-weight: normal;
  font-size: 3.3em;
}

.carousel-caption__config p {
  font-size: 1.1em;
  letter-spacing: 4px;
  line-height: 1.8em;
}

.btn__readMore {
  border-radius: 0%;
  margin-top: 10px;
  transition: all 0.5s;
}

.btn__readMore:hover {
  background-color: var(--primary-color);
  color: white;
}

.modal-title__config {
  color: var(--primary-color);
  font-size: 2em;
}

/* WELCOME */
#welcome h1 + span {
  margin-bottom: 15px;
  text-transform: capitalize;
  color: black;
  font-size: 1.2em;
  letter-spacing: 4px;
  text-align: center;
}

.welcome__line + p {
  padding: 50px 0;
  width: 80%;
  margin: 0 auto;
}

.card__config {
  padding: 0 40px;
}

#welcome i {
  font-size: 40px;
  padding-bottom: 30px;
}

/* OUR STATS */
.stats__content {
  padding: 70px 0;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.stats__content i,
.stats__content p {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.stats__content h2 {
  line-height: 80px;
  font-size: 1.8rem;
}

#stats {
  min-height: 400px;
  background-image: url("../img/banner2.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding: 4rem 15px;
}

.offer__content {
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.offer__item {
  border: 1px solid red;
  text-align: center;
  margin-bottom: 25px;
  padding: 2rem 1rem;
}

.offer__item i {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 2rem;
}

.offer__item h3 {
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

.offer__item h3 {
  font-size: 1.3rem;
}
/* MEDIA QUERY */
@media screen and (min-width: 750px) and (max-width: 1120px) {
  .navbar-brand__logo h1 {
    font-size: 1.5rem;
  }
  #navbarNav .navbar-nav .nav-item .nav-link {
    padding: 7px;
    font-size: 0.8em;
  }
}
@media screen and (max-width: 576px) {
  .carousel-caption__config {
    bottom: 0%;
  }

  .carousel-indicators__config {
    bottom: 5%;
  }

  .carousel-caption__config h1 {
    font-weight: normal;
    font-size: 1.5em;
  }

  .carousel-caption__config p {
    font-size: 0.7em;
    letter-spacing: 2px;
    line-height: 1.3em;
  }
}
